openapi: 3.0.0
info:
  title: Sample Insecure API
  version: 1.0.0

servers:
  - url: http://api.example.com

paths:
  /login:
    post:
      parameters:
        - name: password
          in: query
          schema:
            type: string
      responses:
        "200":
          description: OK

  /users:
    get:
      responses:
        "200":
          description: OK
